.slick-prev {
    width: 100px;
    height: 100px;
    left: 46%;
    z-index: 9999;
    top: 90%;
}

.slick-next {
    right: 40%;
    top: 90%;
    width: 100px;
    height: 100px;
    z-index: 9999;
}

.slick-prev:before, .slick-next:before{
    font-size: 50px;
}

.slick-dots{
    text-align: center;
    bottom: 0px;
    padding: 40px 10%;
    z-index: 9999;
}

.background-dark-gradient{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    /* background: #fff; */
    z-index: 1;
}

.background-dark-gradient::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
    z-index: 1000;
}

.parallax{
    background-position: top;
}